<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include("../partials/header") %>
</head>
<body>

	<!-- Include navigation-->
	<%- include("../partials/navigation") %>

	<!-- Include featured-->
	<!-- <%- include("../partials/featured") %> -->

 	<!-- BEGIN PAGE CONTENT-->
	<div class="content-container content-wrap">
    <h2 class="pb-1 border-bottom text-center">Admin Page</h2>

    <div class="container px-4 py-2" id="Admin Panel">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by name..">
      <table class="table" id="accountTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Handle</th>
            <th scope="col">Edit Profile Privileges</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark Zuckerburg</td>
            <td>markymark</td>
            <td><a class="btn btn-small btn-secondary" href="/admin/edit">Edit</a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Otto Ottoman</td>
            <td>aManNamedOtto</td>
            <td><a class="btn btn-small btn-secondary" href="/admin/edit">Edit</a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Ryan Cazares</td>
            <td>rynohotrod</td>
            <td><a class="btn btn-small btn-secondary" href="/admin/edit">Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>

	
	</div>
 	<!-- END PAGE CONTENT-->


	<!-- Include footer-->
	<%- include("../partials/footer") %>

</body>
</html>

<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("accountTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>