<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include("../partials/header") %>
</head>
<body>

	<!-- Include navigation-->
	<%- include("../partials/navigation") %>

	<!-- Include featured-->
	<!-- <%- include("../partials/featured") %> -->

 	<!-- BEGIN PAGE CONTENT-->
	<div class="content-container content-wrap">
		<div class="container px-4 py-2 rounded-4" id="update-product" data-aos="fade-right">
			<h2 class="border-bottom">EDIT MAKER</h2>
			<br>
			<table class="table" id="accountTable">
				<thead>
				  <tr>
					<th scope="col">Name</th>
					<th scope="col">Handle</th>
					<th scope="col">Email</th>
					<th scope="col">Validate (if not registered)</th>
					<th scope="col">Feature Maker</th>
					<th scope="col">Delete Maker</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>Ryan Cazares</td>
					<td>rynohotrod</td>
					<td>ryan@uark.edu</th>
					<td><a class="btn btn-small btn-success" href="#">Validate</a></td>
					<td><a class="btn btn-small btn-secondary" href="#">Feature</a></td>
					<td><a class="btn btn-small btn-danger" href="#">Delete</a></td>
				  </tr>
				</tbody>
			  </table>
			  <br>
			  <table class="table" id="accountProductTable">
				<thead>
				  <tr>
					<th scope="col">Product Name</th>
					<th scope="col">Product Price</th>
					<th scope="col">View Product Featured Image</th>
					<th scope="col">Delete Maker</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>The hand thing</td>
					<td>$1,000</td>
					<td><a class="btn btn-small btn-secondary" href="#">View Image</a></td>
					<td><a class="btn btn-small btn-danger" href="#">Delete</a></td>
				  </tr>
				</tbody>
			  </table>
			  <!-- If email has a vendor application display here -->
			  <!-- Leave out email, first and last name, and products since its in the table -->
			  <p>University of Arkansas ID answer</p>
			  <p>Program of Study answer</p>
			  <p>Buisness name answer</p>
			  <p>Performance description answer</p>
			  <p>Signature answer</p>
		</div>
	</div>
 	<!-- END PAGE CONTENT-->


	<!-- Include footer-->
	<%- include("../partials/footer") %>

</body>
</html>