<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include("../partials/header") %>
</head>
<body>

	<!-- Include navigation-->
	<%- include("../partials/navigation") %>

	<!-- Include featured-->
	<!-- <%- include("../partials/featured") %> -->

 	<!-- BEGIN PAGE CONTENT-->
	<div class="content-container content-wrap">
    <!-- do awesome things with the specifc account we want-->

	
	</div>
 	<!-- END PAGE CONTENT-->


	<!-- Include footer-->
	<%- include("../partials/footer") %>

</body>
</html>