<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include("../partials/header") %>
</head>
<body>

	<!-- Include navigation-->
	<%- include("../partials/navigation") %>

	<!-- Include featured-->
	<%- include("../partials/featured") %>

 	<!-- BEGIN PAGE CONTENT-->
	 <div class="content-container content-wrap">
		<div class="container px-4 py-2" id="login-header" data-aos="fade-right">
			<h2 class="border-bottom">LOGIN</h2> 
			<h4 class="h4 mb-3 fw-normal pb-1" id="login-response"></h4>
			<form class="loginForm" action="/api/account/login">
				<div class="form-floating">
				  <input type="email" class="form-control" id="login-email" name="login-email" placeholder="name@example.com" maxlength="254" required>
				  <label for="login-email">Email address (@uark.edu)</label>
				</div>
				<div class="form-floating">
				  <input type="password" class="form-control" id="login-password" name="login-password" placeholder="Password" minlength="8" maxlength="60" required>
				  <label for="login-password">Password</label>
				</div>
				<br>
				<button class="btn btn-dark w-100 py-2" type="submit">Sign in</button>
			  </form>
		</div>
  </div>
 	<!-- END PAGE CONTENT-->

	<!-- Include scripts-->
	<script type="application/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="application/javascript" src="/js/network.js"></script>

	<!-- Include footer-->
	<%- include("../partials/footer") %>

</body>
</html>