<div class="container px-4 py-2" id="featured-articles" data-aos="fade-right">
  <h2 class="pb-1 border-bottom">Recent Articles (This needs design work)</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2">
    <!-- First Article-->
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">The Gift of Teaching</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <i class="fa-solid fa-newspaper fa-xl" style="color: #c3cad5;"></i>
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
              <small><a class="btn btn-sm btn-secondary" href="#" style="margin: 0rem -2rem -1rem -1rem;">READ MORE</a></small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Second Article-->
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Q&A with Carletta Williams</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <i class="fa-solid fa-newspaper fa-xl" style="color: #c3cad5;"></i>
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
              <small><a class="btn btn-sm btn-secondary" href="#" style="margin: 0rem -2rem -1rem -1rem;">READ MORE</a></small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Third Article-->
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Q&A with Dejuan Gilchrist II</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <i class="fa-solid fa-newspaper fa-xl" style="color: #c3cad5;"></i>
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
              <small><a class="btn btn-sm btn-secondary" href="#" style="margin: 0rem -2rem -1rem -1rem;">READ MORE</a></small>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>