<div class="container px-4 py-2" id="featured-articles" data-aos="fade-right">
  <h2 class="pb-1 border-bottom">GSMM Articles</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2">
    
    <!-- First Article-->
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-1 shadow-lg">
        <div class="d-flex flex-column align-items-center p-2 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">The Gift of Teaching</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="d-flex align-items-center me-3">
              <img src="/images/timer.png">&nbsp;&nbsp;2 minutes 
            </li>
            <small><a class="btn btn-sm btn-primary" href="#">READ ARTICLE</a></small>
          </ul>
        </div>
      </div>
    </div>

    <!-- Second Article-->
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-1 shadow-lg">
        <div class="d-flex flex-column align-items-center p-2 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">The Gift of Making</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="d-flex align-items-center me-3">
              <img src="/images/timer.png">&nbsp;&nbsp;4 minutes 
            </li>
            <small><a class="btn btn-sm btn-primary" href="#">READ ARTICLE</a></small>
          </ul>
        </div>
      </div>
    </div>

    <!-- Third Article-->
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-1 shadow-lg">
        <div class="d-flex flex-column align-items-center p-2 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">The Gift of Sharing</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="d-flex align-items-center me-3">
              <img src="/images/timer.png">&nbsp;&nbsp;6 minutes 
            </li>
            <small><a class="btn btn-sm btn-primary" href="#">READ ARTICLE</a></small>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>