<div id="featuredContent" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#featuredContent" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#featuredContent" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#featuredContent" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">

    <div class="carousel-item active" style="background: url('/images/pexels-julio-nery-edited.png'); background-repeat: no-repeat; background-size: cover; background-blend-mode:overlay;">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
      <div class="container">
        <div class="carousel-caption">
          <h1>Become a GSMM Vendor</h1>
          <p>The Graduate Student's Maker's Market (GSMM) hosts monthly markets to help promote and advertise student products and services.</p>
          <p><a class="btn btn-lg btn-primary" href="#">START APPLICATION</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item" style="background: url('/images/carletta.png'); background-repeat: no-repeat; background-size: cover; background-blend-mode:overlay;">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
      <div class="container">
        <div class="carousel-caption">
          <h1>Claudette</h1>
          <p>Claudette is one of the coolest makers we have on the platform. She is a talented designer that designs the coolest designs!</p>
          <p><a class="btn btn-lg btn-primary" href="#">VIEW MAKER PROFILE</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
      <div class="container">
        <div class="carousel-caption">
          <h1>Another Entry</h1>
          <p>This could be an entry for another thing</p>
          <p><a class="btn btn-lg btn-primary" href="#">VIEW PAGE</a></p>
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#featuredContent" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#featuredContent" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>