<footer class="footer_11 bg-dark pt-45 pb-45 color-white text-center">
	<div class="container px-xl-0">
		<div class="row align-items-center">
			<div class="mb-20 mb-lg-0 col-lg-3" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
				<a href="#" class="logo link color-white">Maker Market</a>
			</div>
			<div class="col-lg-9 text-lg-right" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
				<a href="#" class="link color-white mr-10">Privacy Policy</a>
				<a href="#" class="link color-white mx-10">Terms</a>
				<div class="d-inline-block socials">
					<a href="#" class="link color-white mx-10"><i class="fab fa-twitter"></i></a>
					<a href="#" class="link color-white mx-10"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="link color-white ml-10"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
		<div data-aos-duration="600" data-aos="fade-down" data-aos-delay="600"> 
			<div class="mt-45 mb-45 hr h-2 bg-white op-3"></div>
		</div>
		<div class="row">
			<div class="mb-20 mb-lg-0 col-lg-7" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
				<a href="#" class="link color-white mr-10">Home</a>
				<a href="#" class="link color-white mx-10">Products</a>
				<a href="#" class="link color-white mx-10">Artists</a>
				<a href="#" class="link color-white mx-10">Contact</a>
			</div>
			<div class="col-lg-5 text-lg-right" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
				<div class="text-adaptive">
					&copy; <%= new Date().getFullYear() %> Maker Market. All rights reserved.
				</div>
			</div>
		</div>
	</div>
</footer>