<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" style="font-size: larger;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/images/logo.png">Maker's Market</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="fa-solid fa-house fa-sm" style="color: #c3cad5;"></i>&nbsp;Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products"><i class="fa-solid fa-cart-shopping fa-sm" style="color: #c3cad5;"></i>&nbsp;Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/makers"><i class="fa-solid fa-users fa-sm" style="color: #c3cad5;"></i>&nbsp;Makers</a>
        </li>
				<li class="nav-item">
          <a class="nav-link" href="/help"><i class="fa-solid fa-life-ring fa-sm" style="color: #c3cad5;"></i>&nbsp;Help</a>
        </li>
      </ul>

      <% if (locals.session.makerEmail.toLowerCase() === "guest@makermarket.local") { %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span><img src="/images/profile.png" alt="Avatar" style="width: 50px; height: 50px; border-radius: 50%;">&nbsp;GSMM Account</span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/account/login">Login</a></li>
              <li><a class="dropdown-item" href="/account/register">Register</a></li>
            </ul>
          </li>
        </ul>
      <% } else { %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span><img src="data:image/png;base64,<%= locals.session.makerAvatar %>" alt="Avatar" style="width: 50px; height: 50px; border-radius: 50%;">&nbsp;<%= locals.session.makerEmail %></span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/account/manage">Manage Account</a></li>
              <li><a class="dropdown-item" href="/products/manage">Manage Products</a></li>
              <li><a class="dropdown-item" href="/account/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      <% } %>
    </div>
  </div>
</nav>