<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Based on the Startup3 template from https://bootstrap.build/ -->
		<!-- Modified for the Maker Market (Spring 23 Capstone) -->
		<meta charset="utf-8" >
		<title>Maker Market</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="./images/favicon.png" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Dosis:100,200,300,400,600,500,700,800,900|Open+Sans:100,200,300,400,500,600,700,800,900&amp;subset=latin" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link href="./css/style.css" rel="stylesheet" />
		<link href="./css/carousel.css" rel="stylesheet" />
		<link href="./css/parallax_background.css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
	</head> 
<body>
  
  <!-- Navigation Menu -->
  <%- include("./partials/navigation") %>

<!-- Featured Artist -->
  <section id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<div class="container px-xl-0">
			<div class="row align-items-center align-items-lg-start">
				<div class="col-xl-1"></div>
				<div class="col-lg-5 col-md-7" data-aos-duration="600" data-aos="fade-left" data-aos-delay="0">
					<h2 class="mt-20 mb-30 small">Artist Name Here</h2>
					<div class="f-22 color-heading text-adaptive">
						The artists biography will render here from the database.
						If there is no biography in the database then it will add
						some default, generic blurb.
					</div>
					<a href="#" class="mt-30 btn border-gray color-main">Learn More</a>
					<br />
					<br />
				</div>
				<div class="col-md-1"></div>
				<div class="col-lg-5 col-md-4" data-aos-duration="600" data-aos="fade-left" data-aos-delay="0">
					<img src="./images/placeholder.png" class="img" alt="Featured Artist"/>			
				</div>
			</div>
			<div class="col-xl-1"></div>
		</div>
	  </div>
	  <div class="carousel-item">
		<!-- Place holder for other pages to put into carousel effect -->
		<div class="container px-xl-0">
			<div class="row align-items-center align-items-lg-start">
				<div class="col-xl-1"></div>
				<div class="col-lg-5 col-md-7" data-aos-duration="600" data-aos="fade-left" data-aos-delay="0">
					<h2 class="mt-20 mb-30 small">Where Pedogagy Meets Praxis</h2>
					<a href="#" class="mt-30 btn border-gray color-main">Sign up to become a vendor here!</a>
					<br />
					<br />
				</div>
				<div class="col-md-1"></div>
				<div class="col-lg-5 col-md-4" data-aos-duration="600" data-aos="fade-left" data-aos-delay="0">
					<img id="logo_png" src="./images/graduate-students-makers-market.png" class="rounded mx-auto d-flex" alt="Logo png" />			
				</div>
			</div>
		</div>
	  </div>
	  <div class="carousel-item">
		<!-- Place holder for other pages to put into carousel effect -->
		<div class="container px-xl-0">
			<div class="row align-items-center align-items-lg-start">
				<div class="col-xl-1"></div>
				<div class="col-lg-5 col-md-7" data-aos-duration="600" data-aos="fade-left" data-aos-delay="0">
					<h2 class="mt-20 mb-30 small">Another Thing</h2>
					<div class="f-22 color-heading text-adaptive">
						Yet another thing to add to the slider
					</div>
					<a href="#" class="mt-30 btn border-gray color-main">Learn More</a>
					<br />
					<br />
				</div>
				<div class="col-md-1"></div>
				<div class="col-lg-5 col-md-4" data-aos-duration="600" data-aos="fade-left" data-aos-delay="0">
					<img src="./images/placeholder.png" class="img" alt="Featured Artist" />			
				</div>
			</div>
		</div>
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
</section>

<!-- Sponsors -->
<section class="sponsor_section">
	<div class="content_30 bg-dark pt-100 pb-70 text-center color-white">
		<div class="row justify-content-center">
			<h2 class="small col-lg-8" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">Our Wonderful Sponsors</h2>
			<div class="col-lg-8 mt-25 mb-55 f-18 medium op-7 text-adaptive">
				<span data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">				
				Information about our wonderful sponsors can go here. Maybe we will do something else in this area</span>				
			</div>
		</div>
		<div class="row justify-content-center">
						<div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
			<div class="mx-auto mb-30 mw-270 h-160 d-flex justify-content-center align-items-center radius6 block">
					<p>Sponsor logo, product image, or whatever can go here</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="150">
				<div class="mx-auto mb-30 mw-270 h-160 d-flex justify-content-center align-items-center radius6 block">
					<p>Sponsor logo, product image, or whatever can go here</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
				<div class="mx-auto mb-30 mw-270 h-160 d-flex justify-content-center align-items-center radius6 block">
					<p>Sponsor logo, product image, or whatever can go here</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="450">
				<div class="mx-auto mb-30 mw-270 h-160 d-flex justify-content-center align-items-center radius6 block">
					<p>Sponsor logo, product image, or whatever can go here</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
				<div class="mx-auto mb-30 mw-270 h-160 d-flex justify-content-center align-items-center radius6 block">
					<p>Sponsor logo, product image, or whatever can go here</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="750">
				<div class="mx-auto mb-30 mw-270 h-160 d-flex justify-content-center align-items-center radius6 block">
					<p>Sponsor logo, product image, or whatever can go here</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">
				<div class="mx-auto mb-30 mw-270 h-160 d-flex justify-content-center align-items-center radius6 block">
					<p>Sponsor logo, product image, or whatever can go here</p>
				</div>
			</div>
						<div class="col-lg-3 col-md-5 col-sm-6" data-aos-duration="600" data-aos="fade-down" data-aos-delay="1050">
				<div class="mx-auto mb-30 mw-270 h-160 d-flex justify-content-center align-items-center radius6 block">
					<p>Sponsor logo, product image, or whatever can go here</p>
				</div>
			</div>
					</div>
	</div>
</section>

<!-- Mission Statement -->
<section class="feature_13 bg-light pt-100 pb-50">
	<div class="container px-xl-0">
		<div class="row text-center text-md-left">
			<div class="col-xl-1"></div>
			<div class="col-xl-5 col-md-6 mb-40" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
				<div class="mb-20 f-18 medium title">About Maker Market</div>
				<div class="color-heading text-adaptive">
					The Graduate Student's Maker's Market (GSMM) is a platform for the professional work of graduate students at the University of Arkansas in Fayetteville, Arkansas. 
					This market offers a variety of services including workshops, consultations, and most importantly first hand experience and feedback. 
					Each month we highlight the work of at least one maker who has completed our three part workshop series.
				</div>
			</div>
			<div class="col-xl-5 col-md-6 mb-40" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
				<div class="mb-20 f-18 medium title">Become a GSMM Vendor</div>
				<div class="color-heading text-adaptive">
					The Graduate Student's Maker's Market (GSMM) will begin hosting monthly markets in January 2023 to help promote and advertise student products and services. 
					Please fill out the form and submit your application. 
					All products should be original products. If you have a website, please feel free to advertise your online products as well.
				</div>
			<div class="col-xl-1"></div>
		</div>
	</div>
</section>

<!-- Articles Section -->
<div class="articles">
	<div class="item" data-aos="fade-up-right" data-aos-duration="2000">
	  <div class="img-first"></div>
	  <div class="card">
		<h3>The Gift of Teaching</h3>
		<p >By Chy'Na Nellon M.A, M.Ed Educational and Business Consultant, PhD Student CLCS UARK I did not always want to be an educator. In fact, at one point, I was adamant I would not be...</p>
		<a href="#">Read more</a>
	  </div>
	</div>
	<div class="item" data-aos="fade-up" data-aos-duration="2000">
	  <div class="img-second"></div>
	  <div class="card">
		<h3>Q&A with Carletta Williams, Ceramics</h3>
		<p>Being born and raised in the South, Carletta has formed a strong connection to southern motifs and daily life while being...</p>
		<a href="#">Read more</a>
	  </div>
	</div>
	<div class="item" data-aos="fade-up-left" data-aos-duration="2000">
	  <div class="img-third"></div>
	  <div class="card">
		<h3>Q&A with Dejuan Gilchrist II, Art in Transition</h3>
		<p>DeJuan Gilchrist is a first year MFA candidate with a concentration in Drawing. He hails from Atlanta, Georgia, and...</p>
		<a href="#">Read more</a>
	  </div>
	</div>
  </div>

<!-- Footer -->
<%- include("./partials/footer") %>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script src="js/animations.js"></script>

</body>
</html>