<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/stylesheets/test.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Maker Market</title>
  </head>

  <style>
    body {
      background-color: lightcoral;
    }
  </style>
  
  
  <body>
    <%- include("./partials/navbar") %>

    <section>
        <!-- Normally the API would render its own page or just return some JSON
            but I did it this bad way to keep the example simple. This is just 
            trying to show how to grab back-end variables from the front-end.
        
            This will be handled differently later on, but this should give you
            a basic idea of how this works -->
            <ul id="scroll_section">
              <li class="scroll" data-rate="-2" data-direction="vertical">Welcome</li>
              <li class="scroll">To The</li>
              <li class="scroll" data-rate="2" data-direction="vertical">Maker's Market</li>
          </ul>

          
      </section>
      <section></section>
      <section></section>

      <script>
         window.addEventListener('scroll', function(e) {

          const target = document.querySelectorAll('.scroll');


          var index = 0, length = target.length;
          for (index; index < length; index++) {
            var pos = window.pageYOffset * target[index].dataset.rate;

            if(target[index].dataset.direction === 'vertical') {
              target[index].style.transform = 'translate3d(0px,'+pos+'px, 0px)';
            } 
            else {
              var posX = window.pageYOffset * target[index].dataset.ratex;
              var posY = window.pageYOffset * target[index].dataset.ratey;
        
              target[index].style.transform = 'translate3d('+posX+'px, '+posY+'px, 0px)';
            }
          }
        });
      </script>

      



    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <%- include("./partials/footer") %>
  </body>
</html>