<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include("../partials/header") %>
</head>
<body>

	<!-- Include navigation-->
	<%- include("../partials/navigation") %>

	<!-- Include featured-->
	<%- include("../partials/featured") %>

 	<!-- BEGIN PAGE CONTENT-->
	 <div class="content-container content-wrap">
		<div class="container px-4 py-2" id="error-404" data-aos="fade-right">
			<h2 class="pb-1 border-bottom">404 - Page Not Found</h2>
			<p>The page you were looking for does not seem to exist. You may go back to the main page by clicking <a href="/">HERE</a></p>
		</div>
  </div>
 	<!-- END PAGE CONTENT-->


	<!-- Include footer-->
	<%- include("../partials/footer") %>

</body>
</html>