<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include("../partials/header") %>
</head>
<body style="background-color: #A42F2F;">

	<!-- Include navigation-->
	<%- include("../partials/navigation") %>

	<!-- Include featured-->
	<%- include("../partials/featured") %>

 	<!-- BEGIN PAGE CONTENT-->
	<div class="content-container content-wrap">
		<div class="text-center">
			<img src="/images/404.png">
			<p class="fs-3"> <span class="text" style="color: #01FFFE;">Oops!</span> Page not found.</p>
			<p class="lead">
				The page you’re looking for doesn’t exist.
			  </p>
			<a href="/" class="btn btn-dark">Go Home</a>
			<p></p>
		</div>
	</div>
 	<!-- END PAGE CONTENT-->


	<!-- Include footer-->
	<%- include("../partials/footer") %>

</body>
</html>