@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body *{
  font-family: 'Lato', sans-serif;
}

.content-container {
  position: relative;
}

.content-wrap {
  padding-bottom: 8rem; /* This must match the height of the footer class in footer.css*/
}

.response-error {
  display:block; 
  margin-top:10px; 
  color:red;
  font-weight: bold;
}

.response-success {
  display:block; 
  margin-top:10px; 
  color:green;
  font-weight: bold;
}

.jello {
  /* The image used */
  background-image: url("/images/jello.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.makers-bg {
  /* The image used */
  background-image: url("/images/makers-bg.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.article1-bg {
  background-image: url("/images/teaching-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.article2-bg {
  background-image: url("/images/creating-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.article3-bg {
  background-image: url("/images/sharing-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}