.glow{
  color: #000;
  text-align: left;
  animation: glow-animation 1s ease-in-out infinite alternate;
}

@keyframes glow-animation {
  from {
    text-shadow: 0 0 2px #2c0318, 0 0 2px #fff, 0 0 2px #2c0318, 0 0 2px #fff, 0 0 2px #2c0318, 0 0 2px #fff, 0 0 2px #2c0318;
  }
  to {
    text-shadow: 0 0 2px #3a6bd4, 0 0 2px #3a6bd4, 0 0 2px #3a6bd4, 0 0 2px #3a6bd4, 0 0 2px #3a6bd4, 0 0 2px #3a6bd4, 0 0 2px #3a6bd4;
  }
}