@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

* {
  margin: 0;
  padding: 0;
}

.Title {
    position: relative;
    text-align: center;
    font-size: 8vmin;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: .8;
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
}